<div class="container position">
    <h2 *transloco="let t; read:'m_info'">{{t("title")}}</h2>
    <p *transloco="let t; read:'m_info'">{{t("text1")}}</p>
    <br>
    <ul>
        <li *transloco="let t; read:'m_info'"><b>{{t("text2")}}</b></li>
        <p class="tab-text" *transloco="let t; read:'m_info'">{{t("text3")}}</p>
        <li *transloco="let t; read:'m_info'"><b>{{t("text4")}}</b></li>
        <p class="tab-text" *transloco="let t; read:'m_info'">{{t("text5")}}</p>
        <li *transloco="let t; read:'m_info'"><b>{{t("text6")}}</b></li>
        <p class="tab-text" *transloco="let t; read:'m_info'">{{t("text7")}}</p>
        <li *transloco="let t; read:'m_info'"><b>{{t("text8")}}</b></li>
        <p class="tab-text" *transloco="let t; read:'m_info'">{{t("text9")}}</p>
        <li *transloco="let t; read:'m_info'"><b>{{t("text10")}}</b></li>
        <p class="tab-text" *transloco="let t; read:'m_info'">{{t("text11")}}</p>
    </ul>
    <p *transloco="let t; read:'m_info'">{{t("text12")}}</p>
</div>