.product-list{
    --gap: 20px;
    --card-width: calc((100% - 3 * var(--gap)) / 4);

    display: grid;
    justify-content: center;
    gap: var(--gap) var(--gap);
    margin: 0 auto;
    /* grid-template-columns: repeat(auto-fit, 20rem); */
    grid-template-columns: repeat(1, var(--card-width));
    width: 30%
}

.cart-container{
    background-color: var(--ce-secondary);
    border-radius: 5%;
    height: auto !important;
}

.double-columns{
    display: flex;
}