<form [hidden]="!canComment" [formGroup]="commentForm" class="form px-4 py-4" *transloco="let t; read:'comment_form'">
  <h4>{{t("pre_title")}}</h4>
  <div class="form-group">
    <label for="title">{{t("title")}}</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="{{t('placeholder_title')}}"
      formControlName="title"
    />
    <p class="error" [hidden]="isInputValid('title')">
      {{t("title_error")}}
    </p>
  </div>
  <div class="form-group">
    <label for="description">{{t("description")}}</label>
    <textarea
      class="form-control"
      id="text"
      rows="4"
      placeholder="{{t('placeholder_desc')}}"
      formControlName="text"
    ></textarea>
  </div>
  <div>
    <label for="grade">{{t("grade")}}</label>
    <select class="custom-select" id="grade" formControlName="grade">
      <option value="" selected> {{t("choose_grade")}} </option>
      <option value="5"> 5 / 5 </option>
      <option value="4"> 4 / 5 </option>
      <option value="3"> 3 / 5 </option>
      <option value="2"> 2 / 5 </option>
      <option value="1"> 1 / 5 </option>
    </select>
    <p class="error" [hidden]="isInputValid('grade')">{{t("grade_error")}}</p>
  </div>
  <button type="submit" [disabled]="!isFormValid() || isLoading" (click)="submit()" class="btn btn-primary mt-3">{{t("button")}}</button>
</form>
