<div class="form-signin w-100 m-auto d-flex justify-content-center align-items-center height">
  <form class="background p-4" [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <h1 class="h3 mb-3 fw-normal title" *transloco="let t; read:'register'">{{t("title")}}</h1>
    <h2>{{ errorMsg }}</h2>

    <div class="form-floating pb-2">
      <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" *transloco="let t; read:'register'" placeholder="{{t('placeholder_email')}}">
      <label for="floatingInput" *transloco="let t; read:'register'">{{t("email")}}</label>
      <div class="alert alert-danger" [hidden]="isInputValid('email')" *transloco="let t; read:'register'">{{t("email_error")}}</div>
    </div>

    <div class="form-floating pb-4">
      <input formControlName="password" type="password" class="form-control" id="password" *transloco="let t; read:'register'" placeholder="{{t('placeholder_pwd')}}">
      <label for="floatingInput" *transloco="let t; read:'register'">{{t("passwd")}}</label>
      <div class="alert alert-danger" [hidden]="isInputValid('password')" *transloco="let t; read:'register'">{{t("pwd_error")}}</div>
    </div>

    <div class="pb-2">
      <label for="user-type" *transloco="let t; read:'register'">{{t("choices")}}</label>
      <select class="custom-select" id="user-type">
        <option value="1" (click)="setUserType(1)" selected *transloco="let t; read:'register'">{{t("choice1")}}</option>
        <option value="2" (click)="setUserType(2)" *transloco="let t; read:'register'">{{t("choice2")}}</option>
      </select>
    </div>

    <div class="form-floating pb-4" [hidden]="this.userType == 1">
      <input formControlName="displayName" type="text" class="form-control" id="display-name" aria-describedby="emailHelp" *transloco="let t; read:'register'" placeholder="{{t('placeholder_nickname')}}">
      <label for="floatingInput" *transloco="let t; read:'register'">{{t("nickname")}}</label>
      <small id="emailHelp" class="form-text text-muted" *transloco="let t; read:'register'">{{t("nick_desc")}}</small>
    </div>

    <button [disabled]="loading || !registerForm.valid" class="btn btn-tertiary w-100 py-2" type="submit" *transloco="let t; read:'register'">{{t("button")}}</button>
  </form>
</div>