<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between px-3 py-2">
  <div class="d-flex align-items-center col-md-3 mb-md-0">
    <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none ">
      <img class="logo" src="../../../assets/Logo.png" alt="Creator Emporium Logo">
    </a>
  </div>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/market" class="nav-link px-2 link-secondary">Market</a></li>
    <li><a routerLink="/" class="nav-link px-2 link-dark">Features</a></li>
    <li><a routerLink="/" class="nav-link px-2 link-dark">Pricing</a></li>
    <li><a routerLink="/" class="nav-link px-2 link-dark">FAQs</a></li>
    <li><a routerLink="/" class="nav-link px-2 link-dark">About</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <button routerLink="/login" type="button" class="btn btn-secondary me-2">Login</button>
    <button routerLink="/register" type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>