<div class="transaction-list mx-auto mt-4" style="width: 80vw;">
    <ng-container *transloco="let t; read:'transactions'">
        <h4 *ngIf="transactions.length == 0">{{t('title1')}}</h4>
        <h4 *ngIf="transactions.length > 0 && isSeller == true">{{t('title2')}}</h4>
        <h4 *ngIf="transactions.length > 0 && isSeller == false"> {{t('title3')}}</h4>
    </ng-container>
</div>
<table class="table table-striped table-hover table-shadow table-bordered mx-auto" style="width: 80vw;">
    <thead>
        <tr *transloco="let t; read:'transactions'">
            <th scope="col">{{t("col1")}}</th>
            <th scope="col">{{t("col2")}}</th>
            <th scope="col">{{t("col3")}}</th>
            <th scope="col">{{t("col4")}}</th>
            <th scope="col">{{t("col5")}}</th>
            <th scope="col">{{t("col6")}}</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="transactions.length > 0">
            <tr *ngFor="let tr of transactions" [routerLink]="['/product', tr.productID]">
                <td>{{ tr.date.toDate() | date:'medium' }}</td>
                <td>{{ tr.productName }}</td>
                <td>{{ tr.quantity }}</td>
                <td>{{ tr.sellerName }}</td>
                <td>{{ tr.username }}</td>
                <td>{{ number(tr.totalPrice) | money }}</td>
            </tr>
        </ng-container>
    </tbody>
</table>