.product-list{
    --gap: 20px;
    --card-width: calc((100% - 3 * var(--gap)) / 4);

    display: grid;
    justify-content: center;
    gap: var(--gap) var(--gap);
    margin: 0 auto;
    /* grid-template-columns: repeat(auto-fit, 20rem); */
    grid-template-columns: repeat(auto-fit, var(--card-width));
    width: 100%;
}

@media (max-width: 1400px) {
    .product-list{
        --card-width: calc((100% - 2 * var(--gap)) / 3);
    }
}

@media (max-width: 992px) {
    .product-list{
        --card-width: calc((100% - var(--gap)) / 2);
    }
}

/* Media query for screens with a maximum width of 480px */
@media (max-width: 768px) {
    .product-list{
        --card-width: calc(100%);
    }
}