<div class="card" style="width: 20rem;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Gfp-otter-and-trout.jpg/1024px-Gfp-otter-and-trout.jpg" class="card-img-top" alt="Product image">
    <div class="card-body text-bg-dark">
      <p class="product-title">{{ product.name }}</p>
      <p class="product-price">{{ product.price | money}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item seller">{{ product.seller }}</li>
    </ul>
  </div>
