<a [routerLink]="['/product', product.productID]">
  <div class="card" style="width: auto;">
    <img src="{{product.imagePath}}" class="card-img-top" alt="Product image">
      
    <div class="card-body text-bg-dark">
      <p class="product-title">{{ product.name }}</p>
      <p class="product-price">{{ product.price | money}}</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item seller" *transloco="let t; read:'product_card'">{{t('seller')}}{{ product.seller }}.</li>
    </ul>
  </div>
</a>
