.product-title {
  margin: 0;
  font-size: 18px;
}

.product-price {
  margin: 0;
  font-size: 25px;
  color: var(--ce-accent);
  font-weight: 600;
}

.seller {
  background-color: var(--ce-bg-dark);
  color: rgba(0, 0, 0, 0.705);
}

.card-img-top {
  aspect-ratio: 1 /1;
  height: var(--card-width);
  object-fit: cover;
}

a {
  text-decoration: none;
}

.card {
  border-color: black;
}
