<main class="form-signin w-100 m-auto d-flex justify-content-center align-items-center height">
  <form class="background p-4" [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <h1 class="h3 mb-3 fw-normal title" *transloco="let t; read:'login'">{{t("title")}}</h1>
    <div class="alert alert-danger" role="alert" [hidden]="this.errorMsg == ''">{{errorMsg}}</div>
    <div class="form-floating pb-2">
      <input formControlName="email" type="email" class="form-control" *transloco="let t; read:'login'" placeholder="{{t('placeholder_email')}}" />
      <label for="floatingInput" *transloco="let t; read:'login'">{{t("email")}}</label>
    </div>
    <div class="form-floating pb-4">
      <input formControlName="password" type="password" class="form-control" *transloco="let t; read:'login'" placeholder="{{t('placeholder_pwd')}}" />
      <label for="floatingPassword" *transloco="let t; read:'login'">{{t("passwd")}}</label>
    </div>

    <button [disabled]="loading" class="btn btn-tertiary w-100 py-2" type="submit" *transloco="let t; read:'login'">
      {{t("button")}}
    </button>
    <p class="mt-2" *transloco="let t; read:'login'">
      {{t("reg_question")}}
      <a class="link" routerLink="/register" [queryParams]="{'redirectUrl': redirectUrl}"
        *transloco="let t; read:'login'">{{t("register")}}</a>
    </p>
  </form>
</main>