<main class="form-signin w-100 m-auto d-flex justify-content-center">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" style="width: 300px">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <h2>{{ errorMsg }}</h2>
    <div class="form-floating py-2">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating pb-4">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    <button
      [disabled]="loading"
      class="btn btn-primary w-100 py-2"
      type="submit"
    >
      Sign in
    </button>
    <p>
      Pas encore de compte ?
      <a routerLink="/register">Créer un compte sur Creator Emporium</a>
    </p>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
  </form>
</main>
