<main class="form-signin w-100 m-auto d-flex justify-content-center">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <h1 class="h3 mb-3 fw-normal" *transloco="let t; read:'login'">{{t("title")}}</h1>
    <h2>{{ errorMsg }}</h2>
    <div class="form-floating pb-2">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="name@example.com"
      />
      <label for="floatingInput" *transloco="let t; read:'login'">{{t("email")}}</label>
    </div>
    <div class="form-floating pb-4">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Password"
      />
      <label for="floatingPassword" *transloco="let t; read:'login'">{{t("passwd")}}</label>
    </div>

    <button
      [disabled]="loading"
      class="btn btn-primary w-100 py-2"
      type="submit"
      *transloco="let t; read:'login'"
      >
      {{t("button")}}
    </button>
    <p *transloco="let t; read:'login'">
      {{t("reg_question")}}
      <a routerLink="/register" [queryParams]="{'redirectUrl': redirectUrl}" *transloco="let t; read:'login'">{{t("register")}}</a>
    </p>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
  </form>
</main>
