.size {
    width: 80vw !important;
}

.img-size {
    max-width: 30vw !important;
}

.btn-modal {
    padding: 0;
    font-size: 15px !important;
    color: var(--ce-accent);
    background: none;
    border: none;
}

.btn-modal:hover{
    color: var(--ce-primary);
}

.prd-image{
    border: 2px solid black;
    border-radius: 0.375rem;
    box-shadow: 0.3rem 0.4rem 0 0 black;
}

dialog{
    background: none;
    border: none;
}


dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.542);
}

.card{
    background-color: var(--ce-bg);
    border: 2px black solid;
    max-width: 500px;
}

.card-header{
    border-bottom: 1px black solid;
}

.bg-white{
    background-color: white;
}