<div class="d-flex flex-column-2 mx-auto mt-4 px-0 size">
    <div *ngIf="!isLoading" class="container d-flex flex-column mx-0 px-4 pt-4 w-50">
        <img class="prd-image img-size" src="{{ product.imagePath }}">
    </div>
    <div class="d-flex flex-column-2 w-100">
        <div class="w-100">
            <div *ngIf="!isLoading" class="container d-flex flex-column mx-0 pe-4 pt-4 w-100">
                <h1 class="prd-name">{{ product.name }}</h1>
                <p class="prd-seller" *transloco="let t; read:'product_page'">{{t("seller")}} {{ product.seller }}.</p>
                <p class="prd-seller">{{ product.description }}</p>
            </div>
        </div>
        <div class="pe-4 pt-4 w-40">
            <div class="card mb-4 rounded-3 shadow-sm w-100">
                <div class="card-header py-3">
                    <h3 class="card-title pricing-card-title">{{ product.price | money}}
                    </h3>
                </div>
                <div class="card-body">
                    <!-- <p class="prd-seller">Il reste  produits.</p> -->
                    <p class="prd-seller" *transloco="let t; read:'product_page'">{{t('stock1')}} {{ product.quantity }} {{t('stock2')}}.</p>
                    <button type="button" class="btn-modal mb-2" data-bs-toggle="modal" data-bs-target="#CGV-Modal" *transloco="let t; read:'product_page'">{{t('CGV')}}</button>
                    <button type="button" class="w-100 btn btn-lg btn-primary mb-2" *transloco="let t; read:'product_page'">{{t('add2cart')}}</button>
                    <button type="button" class="w-100 btn btn-lg btn-primary" *transloco="let t; read:'product_page'">{{t('buy')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CGV-Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content rounded-3 shadow">
            <div class="modal-body p-4">
                <h5 class="mb-0 text-center" *transloco="let t; read:'modal'">{{t('title')}}</h5>
                <p class="mb-0" *transloco="let t; read:'modal'">{{t('text1')}}</p>
                <ol class="">
                    <li *transloco="let t; read:'modal'">{{t('elem1')}}</li>
                    <li *transloco="let t; read:'modal'">{{t('elem2')}}</li>
                    <li *transloco="let t; read:'modal'">{{t('elem3')}}</li>
                    <li *transloco="let t; read:'modal'">{{t('elem4')}}</li>
                    <li *transloco="let t; read:'modal'">{{t('elem5')}}</li>
                </ol>
                <p class="mb-0" *transloco="let t; read:'modal'">{{t('text2')}}</p>
            </div>
            <div class="modal-footer flex-nowrap p-0">
                <button type="button" class="btn btn-lg btn-link text-decoration-none w-100 py-3 m-0 rounded-0"
                    data-bs-dismiss="modal" *transloco="let t; read:'modal'">{{t('button')}}</button>
            </div>
        </div>
    </div>
</div>
<!-- TODO ajouter les commentaires ici -->
<app-comment-list></app-comment-list>
<app-comment-form></app-comment-form>