.filters-container{
    border-radius: 0.375rem;
    background-color: var(--ce-secondary);
    width: 300px;
    border: 2px solid black;
    box-shadow: 0.2rem 0.3rem 0 0 black;
}

label{
    padding-top: 0px;
}