<div class="d-flex mx-4 mt-1" *transloco="let t; read:'market'">
  <div>
    <div class="filters-container px-4 py-3 mb-3 me-1">
      <h5 class="mb-0 mt-1 mb-1">{{t('key_word')}}</h5>
      <form class="form-inline">
        <input [(ngModel)]="keywordsField" (keyup)="filterByKeyword()" class="form-control mr-sm-2" type="text" placeholder="{{t('placeholder_kword')}}" name="keywords"/>
      </form>
    </div>

    <div class="filters-container px-4 py-3">
      <h5 class="mb-0 mt-1 mb-1">{{t('category')}}</h5>
      <div class="form-check mx-2">
        <input class="form-check-input" type="radio" name="categories" id="all" checked value="all" [(ngModel)]="selectedCategory">
        <label class="form-check-label" for="flexRadioDefault2">
          {{t('category_button')}}
        </label>
      </div>
      <div class="form-check mx-2" *ngFor="let cat of categories">
        <input class="form-check-input" type="radio" name="categories" id="{{cat.categoryID}}" value="{{cat.categoryID}}" [(ngModel)]="selectedCategory">
        <label class="form-check-label" for="{{cat.categoryID}}">
          {{ cat.name }}
        </label>
      </div>

      <h5 class="mb-0 mt-2 mb-1">{{t('seller')}}</h5>
      <div class="form-check mx-2" *ngFor="let seller of sellers; let i = index">
        <input class="form-check-input" type="checkbox" id="{{ seller }}" [(ngModel)]="selectedSellers[i]" />
        <label class="form-check-label" for="{{ seller }}"> {{ seller }}</label>
      </div>


      <h5 class="mb-0 mt-2 mb-1">{{t('price')}}</h5>
      <div class="d-flex justify-content-between">
        <div class="input-group" style="width: 120px">
          <input type="text" class="form-control" placeholder="Min" [(ngModel)]="minField"/>
          <div class="input-group-append">
            <span class="input-group-text">€</span>
          </div>
        </div>
        <div class="input-group" style="width: 120px">
          <input type="text" class="form-control" placeholder="Max" [(ngModel)]="maxField" />
          <div class="input-group-append">
            <span class="input-group-text">€</span>
          </div>
        </div>
      </div>

      <button class="btn btn-primary w-100 my-1 mt-3" type="submit" (click)="applyFilter()">
        {{t('button_apply')}}
      </button>
      <button type="button" class="btn btn-outline-primary w-100 my-1" (click)="clearFilters()">
        {{t('button_reset')}}
      </button>
    </div>
  </div>

  <div class="mb-4" style="flex-grow: 1; margin-left: 20px">
    <app-product-list [products]="matchingProducts"></app-product-list>
  </div>
</div>
