/* Global constants */
:root{
    --ce-bg: #e9f3e7;
    --ce-bg-dark :#dbeadb;
    --ce-primary: #5faf7d;
    --ce-primary-hover: #5a9f75;
    --ce-primary-active: #54906b;
    --ce-secondary: #cbe2df;
    --ce-secondary-hover: #b5cbc8;
    --ce-secondary-active: #a6bab7;
    --ce-accent: #3c6d67; 
}

/* Font */

@font-face {
    font-family: 'LeagueSpartan'; /*a name to be used later*/
    /*URL to font*/
    src: url('assets/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format("woff2 supports variations"),
    url('assets/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format("woff2-variations");
}

* {
    font-family: 'LeagueSpartan', Arial, Helvetica, sans-serif !important;
}

/* Bootstrap classes redefinition */

.text-bg-dark{
    background-color: var(--ce-bg-dark) !important;
    color: black !important;
}

.text-bg-light{
    background-color: var(--ce-bg) !important;
}

body{
    background-color: var(--ce-bg);
}

/* Primary button */

.btn{
    font-size: 1.2rem;
    padding-inline: 1rem !important;
    border: 1px black solid !important;
    box-shadow: 0.15rem 0.15rem 0 0 black;
    white-space: nowrap;
}

.btn:not(:disabled):not(:disabled):active{
    box-shadow: 0 0 0 0 black;
}

.btn-primary{
    background-color: var(--ce-primary);
    color: white;
    font-weight: 600;
    transition: opacity 0.5s, color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary:hover{
    background-color: var(--ce-primary-hover);
    color: var(--ce-bg);
}

.btn-primary:not(:disabled):not(:disabled):active{
    background-color: var(--ce-primary-active);
    color: var(--ce-bg);
}

.btn-primary:disabled{
    opacity: 0.65;
    background-color: var(--ce-primary);
    transition: opacity 0.5s;
}

.btn-outline-primary{
    background-color: none !important;
    color: var(--ce-primary);
    font-weight: 600;
    border-color: var(--ce-primary);
}

.btn-outline-primary:hover{
    background-color: var(--ce-primary-hover);
    border-color: var(--ce-primary-hover);
}

.btn-outline-primary:not(:disabled):not(:disabled):active{
    background-color: var(--ce-primary-active);
    border-color: var(--ce-primary-active);
}

/* Secondary button */

.btn-secondary{
    background-color: var(--ce-secondary);
    color: black;
}

.btn-secondary:hover{
    background-color: var(--ce-secondary-hover);
    color: black;
}

.btn-secondary:not(:disabled):not(:disabled):active{
    background-color: var(--ce-secondary-active);
    color: black;
}

/* Light button */

.btn-light{
    background-color: var(--ce-bg);
    color: var(--ce-primary);
    border-color:  var(--ce-primary); 
}

.btn-light:hover{
    background-color: var(--ce-primary-hover);
    color: black;
    border-color:  var(--ce-primary-hover); 
}

.btn-light:not(:disabled):not(:disabled):active{
    background-color: var(--ce-primary-active);
    color: black;
    border-color:  var(--ce-primary-active); 
}

/* Selecteur */

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
      background-size: auto;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
      border-top-color: rgb(206, 212, 218);
      border-right-color: rgb(206, 212, 218);
      border-bottom-color: rgb(206, 212, 218);
      border-left-color: rgb(206, 212, 218);
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Others */

input, textarea, select, span, .btn{
    border: 1px solid black !important;
}

label{
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.2rem;
}